<h2 mat-dialog-title>{{newPeriodicFeeDialog.title}}</h2>

<mat-dialog-content> 
  <form [formGroup]="addPeriodicFeeForm">

    <div class="form-group">
      <label for="category">Kategoria</label>
      <input type = "text" [ngClass] = "{ 'is-invalid': isFormSubmitted && formInput.cCategory.invalid }"
             formControlName = "cCategory" class = "form-control" name = "category">
      
      <div *ngIf="isFormSubmitted && formInput.cCategory.invalid" class="alert alert-danger">
        Pole wymagane!
      </div>
    </div>

    <div class="form-group">
      <label for="name">Nazwa</label>
      <input type="text" [ngClass] = "{ 'is-invalid': isFormSubmitted && formInput.cName.invalid }"
      formControlName = "cName" class = "form-control" name = "name">

      <div *ngIf="isFormSubmitted && formInput.cName.invalid" class="alert alert-danger">
        Pole wymagane!
      </div>
    </div>  

    <div class="form-group">
      <label for="paidUntil">Płatne do</label>
      <input type="text" [ngClass] = "{ 'is-invalid': isFormSubmitted && formInput.cPaidUntil.invalid }"
      formControlName = "cPaidUntil" class = "form-control" name = "paidUntil">

      <div *ngIf="isFormSubmitted && formInput.cPaidUntil.invalid" class="alert alert-danger">
        Pole wymagane!
      </div>
    </div>

    <div class="form-group">
      <label for="paymentPeriod">Płatne co</label>
      <input type="text" [ngClass] = "{ 'is-invalid': isFormSubmitted && formInput.cPaymentPeriod.invalid }"
      formControlName = "cPaymentPeriod" class = "form-control" name = "paymentPeriod">
    
      <div *ngIf="isFormSubmitted && formInput.cPaymentPeriod.invalid" class="alert alert-danger">
        Pole wymagane!
      </div>
    </div>

    <div class="form-group">
      <label for="paymentDeadline">Termin końcowy</label>
      <input type="text" [ngClass] = "{ 'is-invalid': isFormSubmitted && formInput.cPaymentDeadline.invalid }"
      formControlName = "cPaymentDeadline" class = "form-control" name = "paymentDeadline">
    
      <div *ngIf="isFormSubmitted && formInput.cPaymentDeadline.invalid" class="alert alert-danger">
        Pole wymagane!
      </div>
    </div>

    <div class="form-group">
      <label for="warnings">Uwagi</label>
      <input type="text" [ngClass] = "{ 'is-invalid': isFormSubmitted && formInput.cWarnings.invalid }"
      formControlName = "cWarnings" class = "form-control" name = "warnings">
    
      <div *ngIf="isFormSubmitted && formInput.cWarnings.invalid" class="alert alert-danger">
        Pole wymagane!
      </div>
    </div>

  </form>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-reisedbutton (click)="btnSaveNewItem()">Zapisz</button>
  <button mat-button (click)="btnCancel()">Anuluj</button>
</mat-dialog-actions>