<div class="container">
  <div>
    <span>Home Budget Analyzer</span>
  </div>
  <nav class="navbar navbar-dark bg-primary"  *ngIf="userAuth.isUserLoggedIn()">
      <a routerLink="/details" class="navbar-brand" *ngIf="userAuth.isUserLoggedIn()">Detale użytkownika</a>
      <a routerLink="/transactions" class="navbar-brand" *ngIf="userAuth.isUserLoggedIn()">Transakcje</a>
      <a routerLink="/homebillings" class="navbar-brand" *ngIf="userAuth.isUserLoggedIn()">Media</a>
      <a routerLink="/werehouse" class="navbar-brand" *ngIf="userAuth.isUserLoggedIn()">Magazyn</a>
      <a routerLink="/statistics" class="navbar-brand" *ngIf="userAuth.isUserLoggedIn()">Analiza budżetu</a>
      <button (click)="btnSgnOut()" *ngIf="userAuth.isUserLoggedIn()">Wyloguj się</button>
  </nav>
</div>

<router-outlet></router-outlet>