<h2 mat-dialog-title>{{newHomeBillingItemDialog.title}}</h2>

<mat-dialog-content> 
  <form [formGroup]="addHomeBillingItemForm">

    <div class="form-group">
      <label for="name">Nazwa</label>
      <input type = "text" formControlName = "cName" class = "form-control" name = "name">

      <div *ngIf="isFormSubmitted && formInput.cName.invalid && (formInput.cName.dirty || formInput.cName.touched)">
        <div *ngIf="formInput.cName.errors.required" class="alert alert-danger">
          Pole wymagane!
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="name">Okres</label>
      <input type = "text" formControlName = "cPeriod" class = "form-control" name = "period">

      <div *ngIf="isFormSubmitted && formInput.cPeriod.invalid && (formInput.cPeriod.dirty || formInput.cPeriod.touched)">
        <div *ngIf="formInput.cPeriod.errors.required" class="alert alert-danger">
          Pole wymagane!
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="name">Zużycie</label>
      <input type = "text" formControlName = "cQuantity" class = "form-control" name = "period">

      <div *ngIf="isFormSubmitted && formInput.cQuantity.invalid && (formInput.cQuantity.dirty || formInput.cQuantity.touched)">
        <div *ngIf="formInput.cQuantity.errors.required" class="alert alert-danger">
          Pole wymagane!
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="name">Komentarz</label>
      <input type = "text" formControlName = "cComment" class = "form-control" name = "comment">
    </div>
  </form>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-reisedbutton (click)="btnSaveNewItem()">Zapisz</button>
  <button mat-button (click)="btnCancel()">Anuluj</button>
</mat-dialog-actions>