<div>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div>
      <h4>Planowanie oszczędności</h4>
    </div>

    <div>
      <button (click)="btnAddSavingPlanItem()">Dodaj</button>
    </div>
  </nav>
</div>

<div class="mat-elevation-z8">
  <table mat-table #table [dataSource]="dataSource" matSort aria-label="Elements">
    <!-- [Kolumna celu oszczednosci] -->
    <ng-container matColumnDef="target">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Cel</th>
      <td mat-cell *matCellDef="let row">{{row.target}}</td>
    </ng-container>

    <!-- [Kolumna z planowana kwota] -->
    <ng-container matColumnDef="plannedAmount">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Zaplanowano</th>
      <td mat-cell *matCellDef="let row">{{row.plannedAmount}}</td>
    </ng-container>

    <!-- [Kolumna z aktualna kwota] -->
    <ng-container matColumnDef="currentAmount">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Stan aktualny</th>
      <td mat-cell *matCellDef="let row">{{row.currentAmount}}</td>
    </ng-container>


    <!-- [Kolumna z informacja do kiedy chcemy uzbierac oszczednosci] -->
    <ng-container matColumnDef="getUntil">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Termin</th>
      <td mat-cell *matCellDef="let row">{{row.getUntil}}</td>
    </ng-container>


    <!-- [Kolumna z komentarzem] -->
    <ng-container matColumnDef="comment">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Komentarz</th>
      <td mat-cell *matCellDef="let row">{{row.comment}}</td>
    </ng-container>


    <!-- [Kolumna z przyciskami akcji] -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Akcje</th>
      <td mat-cell *matCellDef="let row">
        <button (click)="btnEditRow(row)"   style="margin: 0; padding: 0; border: none"><img src="http://localhost:4200/src/app/_00_Images/przyciskEdycji.png" style="width: 21.5px; height: 21.5px" class="highlightButton"></button>
        <button (click)="btnRemoveRow(row)" style="margin: 0; padding: 0; border: none"><img src="http://localhost:4200/src/app/_00_Images/przyciskUsun.jpg" style="width: 21.5px; height: 21.5px" class="highlightButton"></button>
      </td>
    </ng-container>
    
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>