<div>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div>
      <h4>Zużycie zasobów</h4>
    </div>

    <div>
      <button (click)="btnAddHomeBillingItem()">Dodaj</button>
    </div>
  </nav>
</div>

<div class="mat-elevation-z8">
  <table mat-table #table [dataSource]="dataSource" matSort aria-label="Elements" class = "columnsWidth">
    <!-- [Nazwa] -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Nazwa</th>
      <td mat-cell *matCellDef="let row">{{row.name}}</td>
    </ng-container>

    <!-- [Okres] -->
    <ng-container matColumnDef="period">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Okres</th>
      <td mat-cell *matCellDef="let row">{{row.period}}</td>
    </ng-container>

    <!-- [Zuzycie] -->
    <ng-container matColumnDef="quantity">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Zużycie</th>
      <td mat-cell *matCellDef="let row">{{row.quantity}}</td>
    </ng-container>

    <!-- [Akcje] -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Akcje</th>
      <td mat-cell *matCellDef="let row">
        <button (click)="btnEditRow(row)"   style="margin: 0; padding: 0; border: none"><img src="http://localhost:4200/src/app/_00_Images/przyciskEdycji.png" style="width: 21.5px; height: 21.5px" class="highlightButton"></button>
        <button (click)="btnRemoveRow(row)" style="margin: 0; padding: 0; border: none"><img src="http://localhost:4200/src/app/_00_Images/przyciskUsun.jpg" style="width: 21.5px; height: 21.5px" class="highlightButton"></button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>