<h2 mat-dialog-title>{{newHomeBillingItemDialog.title}}</h2>

<mat-dialog-content> 
  <form [formGroup]="addHomeBillingItemForm">

    <div class="form-group">
      <label for="name">Nazwa</label>
      <input type = "text" [ngClass]   = "{ 'is-invalid': isFormSubmitted && formInput.cName.errors }"
             formControlName = "cName" class = "form-control" name = "name"
             [value]="newHomeBillingItemDialog.name">

      <div *ngIf="isFormSubmitted && formInput.cName.errors.required" class="alert alert-danger">
        Pole wymagane!
      </div>
    </div>

    <div class="form-group">
      <label for="name">Okres</label>
      <input type = "text" [ngClass]   = "{ 'is-invalid': isFormSubmitted && formInput.cPeriod.errors }"
             formControlName = "cPeriod" class = "form-control" name = "period"
             [value]="newHomeBillingItemDialog.period">

      <div *ngIf="isFormSubmitted && formInput.cPeriod.errors.required" class="alert alert-danger">
        Pole wymagane!
      </div>
    </div>

    <div class="form-group">
      <label for="name">Stan aktualny</label>
      <input type = "text" [ngClass]   = "{ 'is-invalid': isFormSubmitted && formInput.cActualState.errors }"
             formControlName = "cActualState" class = "form-control" name = "period"
             [value]="newHomeBillingItemDialog.actualState">

      <div *ngIf="isFormSubmitted && formInput.cActualState.errors.required" class="alert alert-danger">
        Pole wymagane!
      </div>
    </div>

  </form>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-reisedbutton (click)="btnSaveNewItem()">Zapisz</button>
  <button mat-button (click)="btnCancel()">Anuluj</button>
</mat-dialog-actions>