<h2 mat-dialog-title>Rejestracja</h2>

<mat-dialog-content> 
  <div class="container">
    <div class="row">
      <div class="col-md-10 mx-auto">  
        <form [formGroup] = "regForm" (ngSubmit)="btnRegister()">
          <div class="row">
            
            <div class="form-group col-sm-6" [ngClass] = "{ 'is-invalid': isFormSubmitted && formInput.login.invalid }">
              <label for="login">Login</label>
              <input type="text" formControlName="login" class="form-control"/>

              <div *ngIf="isFormSubmitted && formInput.login.invalid" class="alert alert-danger">
                Pole wymagane!
              </div>
            </div>

            <div class="form-group col-sm-6" [ngClass] = "{ 'is-invalid': isFormSubmitted && formInput.periodBegin.invalid }">
              <label for="periodBegin">Okres od</label>
              <input type="date" formControlName="periodBegin" class="form-control"/>

              <div *ngIf="isFormSubmitted && formInput.periodBegin.invalid" class="alert alert-danger">
                Pole wymagane!
              </div>
            </div>
          </div>

          <div class="row">
            <div class="form-group col-sm-6" [ngClass] = "{ 'is-invalid': isFormSubmitted && formInput.password.invalid }">
              <label for="password">Hasło</label>
              <input type="password" formControlName="password" class="form-control"/>

              <div *ngIf="isFormSubmitted && formInput.password.invalid" class="alert alert-danger">
                Pole wymagane!
              </div>
            </div>
          
            <div class="form-group col-sm-6" [ngClass] = "{ 'is-invalid': isFormSubmitted && formInput.periodEnd.invalid }">
              <label for="periodEnd">Okres do</label>
              <input type="date" formControlName="periodEnd" class="form-control"/>

              <div *ngIf="isFormSubmitted && formInput.periodEnd.invalid" class="alert alert-danger">
                Pole wymagane!
              </div>
            </div>         
          </div>

          <div class="row">
            <div class="form-group col-sm-6" [ngClass] = "{ 'is-invalid': isFormSubmitted && formInput.email.invalid }">
              <label for="email">Email</label>
              <input type="text" formControlName="email" class="form-control"/>

              <div *ngIf="isFormSubmitted && formInput.email.errors.required" class="alert alert-danger">
                Pole wymagane!
              </div>
              <div *ngIf="isFormSubmitted && formInput.email.errors.email" class="alert alert-danger">
                Należy podać poprawny adres e-mail!
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
<mat-dialog-content> 

<mat-dialog-actions>
  <button mat-reisedbutton (click)="btnAuthRegistration()">Zapisz</button>
  <button mat-button (click)="btnCancel()">Anuluj</button>
</mat-dialog-actions>

  