
/* Klasa definiujaca szerokosc kolumn w tabelach */
.columnsWidth
{
    width: 100%;
}

/* Klasy odpowiedzialne za podswietlanie przyciskow w tabelach */
.highlightButton
{
    -moz-opacity: 0.5;
    opacity: 0.5;
    background-color: none
}

.highlightButton:hover
{
    -moz-opacity: 1;
    opacity: 1;
    background-color: none    
}

/* Klasa odpowiedzialna za formatowanie pol formularzy, "PeriodicFees", "BudgetPlan" */
.formatFormsFields_PF_BP
{
    width: 30%;
    margin: auto;
}