<div class="container">
<!-- Sekcja z danymi uzytkownika -->
  <div>
      <h4>Dane użytkownika</h4>

    <div class="row">
      <div class="col-sm-6">
<!-- Dane uzytkownika nie do zmiany -->
        <div class="col-sm-12">
          <label for="login">Login</label>
          <span name="login">{{user.login}}</span>
        </div>
  
        <div class="col-sm-12">
          <label for="okrOd">Okres od</label>
          <span name="okrOd">{{user.periodStart}}</span>
        </div>        
  
        <div class="col-sm-12">
          <label for="okrDo">Okres do</label>
          <span name="okrDo">{{user.periodEnd}}</span>
        </div>
      </div>

<!-- Dane uzytkownika do zmiany -->
      <div class="col-sm-6">    
        <div class="col-sm-12">
          <label for="password">Hasło</label>
          <span name="password">{{user.password}}</span>
          <button class="btn btn-primary" (click)="btnChangePss()">Zmień</button>
        </div>
    
        <div class="col-sm-12">
          <label for="email">Email</label>
          <span name="password">{{user.email}}</span>
          <button class="btn btn-primary" (click)="btnChangeEmail()">Zmień</button>
        </div>
      </div>
    </div>
  </div>

<!-- Sekcja oplat okresowych -->
    <periodic-fees></periodic-fees>

  <!-- Sekcja planowania budzetu -->
    <budget-plan></budget-plan>
</div>